<phpunit
        backupGlobals="false"
        bootstrap="tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory prefix="class-" suffix=".php">./tests/unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./includes</directory>
        </include>
        <report>
            <html outputDirectory="coverage-report" />
            <clover outputFile="coverage.xml" />
        </report>
    </coverage>
</phpunit>
