<phpunit
        backupGlobals="false"
        bootstrap="tests/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <php>
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED &amp; ~E_USER_DEPRECATED"/>
        <ini name="display_errors" value="On"/>
        <ini name="log_errors" value="On"/>
        <ini name="error_log" value="php://stderr"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory prefix="class-" suffix=".php">./tests/unit</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./includes</directory>
        </include>
        <report>
            <html outputDirectory="coverage-report" />
            <clover outputFile="coverage.xml" />
        </report>
    </coverage>
</phpunit>
