#farcaster-wp-settings {
  max-width: 800px;

  h1 {
    padding-block: 8px;
  }

  .components-notice {

    &,
    &__content {
      margin: 0;
    }
  }

  .components-notice-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-block-end: 16px;
  }

  .components-panel {
    margin-block-end: 8px;
  }

  .has-error {

    // stylelint-disable-next-line selector-class-pattern
    .components-text-control__input {
      border-color: #cc1818;
      
      &:focus {
        box-shadow: 0 0 0 1px #cc1818;
        border-color: #cc1818;
      }
    }
  }
}