name: PHPUnit Tests

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
    test:
        runs-on: ubuntu-latest
        services:
            mysql:
              image: mariadb:latest
              ports:
                - '3306:3306'
              env:
                MYSQL_ROOT_PASSWORD: wordpress
                MARIADB_INITDB_SKIP_TZINFO: 1
                MYSQL_USER: wordpress
                MYSQL_PASSWORD: wordpress
                MYSQL_DATABASE: wordpress_test

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Set Up PHP
              uses: shivammathur/setup-php@v2
              with:
                coverage: xdebug
                php-version: "8.2"
      
            - name: Install PHP Dependencies
              uses: ramsey/composer-install@v3

            - name: Set Up WordPress and WordPress Test Library
              uses: sjinks/setup-wordpress-test-library@master
              with:
                version: latest

            - name: Verify MariaDB Connection
              run: |
                while ! mysqladmin ping -h 127.0.0.1 -P ${{ job.services.mysql.ports[3306] }} --silent; do
                sleep 1
                done
              timeout-minutes: 1

            - name: Run PHPUnit Tests with Coverage
              run: composer run coverage

            - if: ${{ github.event_name == 'pull_request' }}
              name: Download artifact
              uses: dawidd6/action-download-artifact@v2.14.1
              continue-on-error: true
              with:
                workflow: .github/workflows/phpunit.yml
                branch: main
                name: coverage-report
                path: base

            - if: ${{ github.event_name != 'pull_request' }}
              uses: actions/upload-artifact@v4
              with:
                name: coverage-report
                path: coverage.xml

            - if: ${{ github.event_name == 'pull_request' }}
              name: Coverage Report as Comment (Clover)
              uses: lucassabreu/comment-coverage-clover@main
              with:
                file: coverage.xml

            - if: ${{ github.event_name == 'pull_request' }}
              name: Coverage Report as Comment (Clover)
              uses: lucassabreu/comment-coverage-clover@main
              with:
                file: coverage.xml
                base-file: base/coverage.xml